*{
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.main-container{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.first-box{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.first-box > img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 16px;
    margin-bottom: 12px;
}

.first-box p{
    margin: 4px;
}

.first-box h1{
    margin: 0 24px;
}

.second-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.second-box a{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 100%;
    text-decoration: none;
    color: white;
    margin: 8px;
    cursor: pointer;
}

.second-box img{
    justify-self: end;
    width: 30px;
    height: 30px;
}

.second-box p{
    text-align: center;
}